.status-dot
{
width:12px;
height:12px;
border-radius:50%;
}

.control-btn
{
padding:15px;
border-radius:12px;
font-weight:bold;
color:white;
}

.green
{
background:#22c55e;
}

.red
{
background:#ef4444;
}

.input
{
width:100%;
padding:10px;
margin-bottom:10px;
border-radius:10px;
border:1px solid #ccc;
}

.input-small
{
width:100%;
padding:10px;
border-radius:10px;
border:1px solid #ccc;
text-align:center;
}

.btn-indigo
{
width:100%;
background:#4f46e5;
color:white;
padding:12px;
border-radius:12px;
}

.btn-orange
{
width:100%;
background:#f97316;
color:white;
padding:12px;
border-radius:12px;
}
